
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;0,600;1,400;1,500&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');
:root {
    --color-main: rgba(232, 220, 220, 0.9);
    --color-bg: rgb(7, 0, 0);
    --color-bg-1: rgba(233, 189, 189, 0.982);
    --color-primary: rgb(234, 27, 89); 
    --color-primary-1: rgba(243, 43, 103, 0.902); 
    --color-white: rgb(255, 255, 255);
    --color-hover: rgb(237, 30, 30);
    
    --container-width-lg: 88%;
    --container-width-md: 92%;
    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins" sans-serif;
    background-color: var(--color-main);
    color: var(--color-white);
    line-height: 1.5;
    overflow-x: hidden;
    border-radius: 10px;
}
h1, h2 {
    line-height: 1.2;
    font-weight: 500;
}
h1 {
    font-size: 4rem;
    color: var(--color-white);
}

h2 {
    font-size: 3.5rem;
}

a {
    color: var(--color-primary-1);
    transition: var(--transition);
    font-size: 1.5rem;
}

a:hover {
    color: var(--color-hover);
}

.container {
    width: var(--container-width-lg);
    max-width: 2160px;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
} 

nav {
    width: 100VW;
    height: calc(16 * 20);
    display: grid;
    position: fixed;
    top: 2rem;
    z-index: 99;
    background-color: var(--color-bg);
    place-items: center;
    box-shadow: 0 0.2rem 0.7rem var(--color-bg);
    margin-left: 2rem;
    margin-right: 2rem;
}

.container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

.nav-logo h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);
}
.nav-logo h4 {
    color: var(--color-white);
    font-size: 1.1rem;
}

.nav-logo span {
    color: var(--color-primary);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

 .nav-red  {
    color: var(--color-primary-1);
    font-size: 1.4rem;
    font-weight: 500;
}

.nav-links a {
    color: var(--color-white);
}


.container-1 {
    width: 100vw;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    margin-top: 6rem;
    background: linear-gradient(var(color-bg-1));
}

.header-container {
    background-image: url(./images/lipistic.jpg);
    left: 2rem;
    right: 2rem;
    position: absolute;
    
}



.header-2 {
    background-color: var(--color-primary-1);
    width: 100%;
    height: 40px;
    color: var(--color-white);
    text-align: center;
    font-size: 1.5rem;
    display: grid;
    position: relative;
    margin-top: .5rem;
    gap: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;   
}

.header-container h3 {
    color: var(--color-primary);
    margin-top: 5rem;
    margin-left: 8rem;
    font-size: 1.5rem;
    border-bottom: 0.3rem solid var(--color-primary);
    width: 24rem;
}
.header-container h1 {
    font-size: 3.5rem;
    margin-left: 8rem;
    font-weight: 580;

}

.header-container h4 {
    margin-left: 8rem;
    font-size: 1.4rem;
}

.header-container p {
    display: flex;
    font-size: 0.8rem;
    margin-left: 8rem;
    padding-left: 0;
    margin-top: 0.2rem;
    line-height: 0.8rem;
    width: 15%;
    list-style-position: inside;
}

.header-btn {
    margin-left: 8rem;
    margin-top: 5rem;
    display: inline-block;
    font-size: 1.8rem;
    color: var(--color-primary-1);
    background-color: var(--color-bg-1);
    border: 3px solid var(--color-primary-1);
    font-weight: 500;
}

.header-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

 section {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.shadow {
    width: 100%;
    height: 100%;
    top: 53rem;

}

.up {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 12rem;
    background-color: var(--color-primary);
    border-radius: 25px;
    margin: 15px 15px 15px 15px;
    
}

.up p {
    box-sizing: border-box;
    height: 12rem;
    font-size: 3.5rem;
    font-weight: 400;
    justify-content: space-around;
    align-items: center;
    display: flex;   
}
.shadow h2 {
    color: var(--color-bg);
    font-weight: 500;
    margin-left: 2rem;
    margin-top: 4rem;
    font-size: 4rem;
}

.shadow-1 {
    width: 100%;
    height: 100%;
}

.Down {
    width: auto;
    height: auto;
    display: grid;
    overflow: hidden;   
}

.Down ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Down ul li {
    color: rgb(67, 70, 72);
}